doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 404 Page Not Found
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      * {
        line-height: 1.2;
        margin: 0;
      }
      html {
        color: #888;
        display: table;
        font-family: sans-serif;
        height: 100%;
        text-align: center;
        width: 100%;
      }
      body {
        display: table-cell;
        margin: 2em auto;
        vertical-align: middle;
      }
      h1 {
        color: #555;
        font-size: 2.2em;
        font-weight: 400;
      }
      p {
        font-size: 1.1em;
        margin: 0 auto;
        width: 280px;
      }
      .suggestions {
        bottom: 1em;
        font-size: 0.8em;
        margin-top: 0.4em;
        position: absolute;
        width: 100%;
      }
      @media only screen and (max-width: 280px) {
        body, p {
          width: 95%;
        }
        h1 {
          font-size: 1.5em;
          margin: 0 0 0.3em;
        }
      }
  body
    h1 404
    p Page Not Found
    p.suggestions
      a(href='/') Go home
      |  or&nbsp;
      a(href='mailto:danil@kutkevich.org') contact me
// IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx
