doctype html
html.no-js(lang='')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Danil Kutkevich 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon(s) in the root directory
    link(href='https://login.launchpad.net/+openid', rel='openid.server')
    link(href='https://login.launchpad.net/+id/ACFMYrr', rel='openid.delegate')
    link(href='https://login.launchpad.net/+openid', rel='openid2.provider')
    link(href='https://login.launchpad.net/+id/ACFMYrr', rel='openid2.local_id')
    meta(content='https://login.launchpad.net/+id/ACFMYrr/+xrds',
      http-equiv='X-XRDS-Location')
  body
    | <!--[if lt IE 8]>
    | <p class="browsehappy">
    |   You are using an <strong>outdated</strong> browser.
    |   Please <a href="http://browsehappy.com/">upgrade your browser</a>
    |   to improve your experience.
    | </p>
    | <![endif]-->
    block content
